# executables
bbcp = '/usr/local/miniconda3/envs/MMC/MMC-PYP/bbcp_v15.02'
IMOD_BIN = '/usr/local/IMOD/bin/'
scipion_path = '/usr/local/scipion-3.0/scipion3'

# local-machine-related paths
HTML = ''
scipion_loc = ''
logs = ''

# Emails
sender_email = ''
smtp_server = ''
smtp_port = 